@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Trirong", serif;
  --font-tertiary: "Hind Madurai", sans-serif;
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #0056b3;
  --bottom-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--color-secondary);
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  box-shadow: var(--bottom-box-shadow);

  > a > img {
    width: 4rem;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;

      li {
        position: relative;
        font-family: var(--font-tertiary);
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.5;
        transition: all 300ms ease-in-out;

        a {
          text-decoration: none;
          color: var(--color-secondary);
        }
      }

      li::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 3px;
        background-color: var(--color-accent);
        transition: all 300ms ease-in-out;
      }

      li:hover {
        cursor: pointer;
        opacity: 1;
      }

      li:hover::after {
        width: 75%;
      }
    }
  }

  a > svg {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    fill: var(--color-accent);
    transition: all 300ms linear;
  }

  a:hover > svg {
    cursor: pointer;
    opacity: 1;
    scale: 1.2;
  }
}

main#landing {
  padding: 3rem 6rem;
  box-shadow: var(--bottom-box-shadow);
  background-color: var(--color-primary);

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > i {
      font-family: var(--font-secondary);
      font-size: 1.2rem;
      opacity: 0.75w;
    }
  }

  .main-news {
    min-height: 100vh;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    .new {
      padding: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-size: cover;
      background-position: center;
      color: var(--color-primary);
      text-decoration: none;
      transition: all 300ms ease-in-out;

      div {
        position: relative;
        z-index: 1;
      }

      span {
        font-family: var(--font-secondary);
        font-style: italic;
      }

      h2 {
        font-family: var(--font-primary);
      }
    }

    .new::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .new:hover {
      cursor: pointer;
      scale: 1.025;
    }

    .new:nth-child(1) {
      grid-area: 1 / 1 / 3 / 3;
      background-image: url("https://static01.nyt.com/images/2024/08/19/multimedia/19dc-biden-nuclear-02-kpfw/19dc-biden-nuclear-02-kpfw-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
    }

    .new:nth-child(2) {
      grid-area: 1 / 3 / 2 / 4;
      background-image: url("https://static01.nyt.com/images/2024/08/15/multimedia/00barcelona-backlash-pwvt/00barcelona-backlash-pwvt-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
    }

    .new:nth-child(3) {
      grid-area: 1 / 4 / 2 / 5;
      background-image: url("https://static01.nyt.com/images/2024/08/25/magazine/25Mag-Genocide-01/25Mag-Genocide-01-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
    }

    .new:nth-child(4) {
      grid-area: 2 / 3 / 4 / 5;
      background-image: url("https://static01.nyt.com/images/2024/08/19/multimedia/tamc-081924-taylor-travis/tamc-081924-taylor-travis-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
    }

    .new:nth-child(5) {
      grid-area: 3 / 1 / 4 / 3;
      background-image: url("https://static01.nyt.com/images/2024/08/23/multimedia/00-COVID-NORMALIZED-01-vgql/00-COVID-NORMALIZED-01-vgql-threeByTwoSmallAt2X-v2.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
    }
  }
}

main#new {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  box-shadow: var(--bottom-box-shadow);

  > section {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0.75;
      font-family: var(--font-secondary);
      font-size: 0.8rem;
      font-style: italic;
      text-transform: uppercase;
    }

    > h1 {
      margin: 1rem 0 0.5rem 0;
      font-family: var(--font-primary);
      font-size: 2.75rem;
    }

    h3 {
      font-family: var(--font-tertiary);
      font-size: 1.25rem;
      font-weight: 500;
    }

    p {
      margin: 0.75rem 0;
      font-family: var(--font-tertiary);
      font-size: 1.25rem;
    }

    p:last-child {
      margin-bottom: 0;
    }

    > img {
      margin: 1.5rem 0;
      width: 100%;
    }
  }
}

aside {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;

  .new {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: var(--color-primary);
    transition: all 300ms ease-in-out;

    div {
      z-index: 2;
    }

    span {
      font-family: var(--font-secondary);
      font-style: italic;
    }

    div {
      z-index: 2;
    }

    h2 {
      font-family: var(--font-primary);
    }
  }

  .new::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .new:hover {
    cursor: pointer;
    scale: 1.025;
  }

  .new:nth-child(1) {
    background-image: url("https://static01.nyt.com/images/2024/08/19/multimedia/19dc-biden-nuclear-02-kpfw/19dc-biden-nuclear-02-kpfw-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
  }

  .new:nth-child(2) {
    background-image: url("https://static01.nyt.com/images/2024/08/15/multimedia/00barcelona-backlash-pwvt/00barcelona-backlash-pwvt-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
  }

  .new:nth-child(3) {
    background-image: url("https://static01.nyt.com/images/2024/08/25/magazine/25Mag-Genocide-01/25Mag-Genocide-01-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
  }

  .new:nth-child(4) {
    background-image: url("https://static01.nyt.com/images/2024/08/19/multimedia/tamc-081924-taylor-travis/tamc-081924-taylor-travis-threeByTwoSmallAt2X.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
  }

  .new:nth-child(5) {
    background-image: url("https://static01.nyt.com/images/2024/08/23/multimedia/00-COVID-NORMALIZED-01-vgql/00-COVID-NORMALIZED-01-vgql-threeByTwoSmallAt2X-v2.jpg?format=pjpg&quality=75&auto=webp&disable=upscale");
  }
}

footer {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  box-shadow: var(--bottom-box-shadow);

  > div {
    > span:first-child {
      font-size: 1.5rem;
      font-family: var(--font-tertiary);
      font-weight: 600;
    }

    > form {
      input {
        padding: 0.5rem;
        margin-top: 0.5rem;
        background: none;
        border: 2px solid black;
        font-family: var(--font-tertiary);
        font-weight: 500;
      }

      input[type="email"] {
        padding-right: 4rem;
      }

      input[type="email"]:focus {
        outline: none;
      }

      input[type="submit"] {
        color: var(--color-primary);
        background-color: var(--color-secondary);
        transition: all 300ms linear;
      }

      input[type="submit"]:hover {
        cursor: pointer;
        color: var(--color-secondary);
        background-color: var(--color-primary);
      }

      input[type="submit"]:active {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
      }
    }

    > span:last-child {
      margin-top: 1rem;
    }
  }

  .social-media {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    li {
      > svg {
        fill: var(--color-accent);
        opacity: 0.5;
        transition: all 300ms linear;
      }

      > svg:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.4);
      }
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: -500px;
  margin: 1rem;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  font-family: var(--font-tertiary);
  background-color: rgba(40, 167, 69, 0.25);
  color: #28a745;
  transition: all 500ms ease-in-out;

  p {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 1rem;
      fill: #28a745;
    }
  }

  #close-alert {
    background: none;
    border: none;
    margin-left: 2rem;

    > svg {
      width: 1rem;
      fill: #28a745;
    }
  }

  #close-alert:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.alert[open="true"] {
  right: 0;
}
